<div class="cookie">
  <div class="cookie-bg"></div>
  <div class="cookie-message">
    <h3>Réglages RGPD : gestion des cookies</h3>
    <label class="cookie-label">
      <input type="checkbox" checked><span></span>
      <b>Session</b>
      <p>Le cookie de session est essentiel au fonctionnement de ce site et ne peut être désactivé.<br> Il permet de conserver vos données lors de la navigation entre les pages du site.</p>
    </label>
    <label class="cookie-label">
      <input type="checkbox" checked><span></span>
      <b>Analytics</b>
      <p>Les cookies Analytics, provenant du tiers Google, ont pour finalité de recueillir des statistiques de visites anonymes.<br> Ces données une fois recoupées, pourraient être intrusives pour la vie privée des utilisateurs du site.</p>
    </label>
    <div class="cookie-btn">
      <a href="javascript:;" class="cookie-btn__fill cookie-agree">Enregistrer mes préférences</a>
      <a href="#" class="cookie-btn__border">En savoir plus</a>
    </div>
  </div>
</div>