<div class="nav">
  <div class="nav-burger"></div>
  <div class="nav-logo"><a href="/"><img src="img/svg/logo.svg" alt=""></a></div>
  <ul class="nav-menu">
    <li class="active"><a href="#">Accueil</a></li>
    <li><a href="#">Le planning</a></li>
    <li><a href="#">Nos voyants</a></li>
    <li><a href="#">Votre compte</a></li>
    <li><a href="#">Recrutement</a></li>
    <li><a href="#">La fidélité</a></li>
    <li><a href="#">Actualités</a></li>
    <li><a href="#">FAQ</a></li>
  </ul>
</div>