<div class="search-item search-item__@color">
  <div class="search-item__photo" style="background-image: url(@photo);"></div>
  <div class="search-item__info">
    <div class="search-item__flag" style="background-image: url(img/flag/france.jpg);"></div>
    <h3>@name</h3>
    <ul class="search-item__type">
      <li>Médium</li>
      <li>Numérologue</li>
      <li>Astrologue</li>
    </ul>
    <div class="search-item__contact">
      <div class="search-item__phone">
        <a href="tel:0891538538">0891 538 538</a>
        <p>Code voyant: 3842</p>
      </div>
      <a href="#" class="search-item__btn">Connecté</a>
    </div>
  </div>
</div>